* {
    color: #ffffff;
}
  
body {
    background-color: black;
    font-family: Helvetica;
    margin: 0;
  }
  
  navbar {
    color: #ffffff;
    font-size: 17px;
    padding: 20px;
    margin: 0;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica, sans-serif;
  }
  
  navbar > h1 {
    font-size: 26px;
    margin: 0;
  }
  
  .nav-item {
    margin-inline: 10px;
    display: inline-block;
  }
  
  navbar > .nav-item > .cart {
    color: #ffffff;
    text-decoration: none;
    /* background-image: url("./imgs/cart.svg"); */
    width: 22px;
    height: 22px;
    padding-top: 100px;
  }

  /*BAGIANKU*/
  /*BAGIANKU*/
  /*BAGIANKU*/
  /*BAGIANKU*/
  /*BAGIANKU*/
  /*BAGIANKU*/
  /*BAGIANKU*/
  /*BAGIANKU*/

body {
    background: url(login_bg.jpg) no-repeat fixed;
    background-position-x: 20%;
    background-position-y: 10% ;
    background-size: 150% 150%;
}

.wrapper {
    margin-inline: 350px;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    text-align: center;

    .upper {
        width: 100%;
        height: 150px;
    }

    .middle {
        width: 400px;
        height: 500px;
        background-color: whitesmoke;
        border-radius: 30px;
    }
}

.login-form {
    padding-top: 10px;
}

.login-form > .separator {
    width: 400px;
    height: 20px;
}

.form-group > label {
    color: #1b1b1b;
}

.form-group > input {
    width: 300px;
    height: 30px;
}

.login-form > .login-button {
    padding-top: 0px;
    width: 310px;
    height: 35px;
    border-radius: 30px;
    background-color: lightblue;
}

.middle > h1 {
    color: #1b1b1b;
}

/*.bg > img {
    width: 100%;
    height: 100%;
}


